@page
@model BookListRazor.Pages.BookList.indexModel

<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Book List</h2>
    </div>
    <div class="col-3">
        <a asp-page="upsert" class="btn btn-info form-control">Create new book</a>
    </div>

    <!--Display the list of books-->
    <div class="col-12 border p-3 mt-3">
        <form action="/" method="post">
            <!--Check wheter books are availabale or not-->
            @if (Model.Books.Count() > 0)
            {
                <div class="col-12">
                    <table class="table table-bordered border text-center">
                        <tr>
                            <th scope="col">
                                <label asp-for="Books.FirstOrDefault().Name"></label>
                            </th>
                            <th scope="col">
                                <label asp-for="Books.FirstOrDefault().Author"></label>
                            </th>
                            <th scope="col">
                                <label asp-for="Books.FirstOrDefault().ISBN"></label>
                            </th>
                            <th scope="col">
                                <label>Action</label>
                            </th>
                        </tr>
                        @foreach (var items in Model.Books)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => items.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => items.Author)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => items.ISBN)
                                </td>
                                <td>
                                    <!--Create Onclick to display a message-->
                                    <!--If it is true redirect to the handler in the same page-->
                                    <!--We create custom tag handler in index.cshtml, But didn't work-->
                                    <a asp-page="Remove" onclick="return confirm('Are you sure, You want to Delete? ')" asp-route-id="@items.ID" class="btn btn-outline-danger">Delete</a>
                                    <a asp-page="Edit" asp-route-id="@items.ID" class="btn btn-outline-success">Edit</a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            }
            else
            {
                <h3 class="bg-warning col-4">No Books Available..</h3>
            }
        </form>
    </div>



    <!--OR-->
    <!--This table will load with javascript-->
    <!--Retrive book dta using APIs-->
    <div class="col-12 border p-3">
        <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th> Author</th>
                    <th> ISBN</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!--Add another script file-->
@section Scripts{
    <script src="~/js/bookList.js"></script>
}




